.bannierConteiner {
    height: 223px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.img-bannier-home {
    border-radius: 25px;
    width: 100%;
    filter: brightness(60%);
}

.bannierTitle {
    position: absolute;
    display: flex;
    top: 190px;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}

.img-title {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {

    .bannierConteiner {
        width: 335px;
        height: 111px;
    }

    .img-bannier-home {
        border-radius: 25px;
        width: 100%;
        filter: brightness(60%);
    }

    .bannierTitle {
        position: absolute;
        display: flex;
        top: 190px;
        justify-content: center;
        font-size: 24px;
    }
}